APP_NAME=OutreachPilot AI
APP_ENV=development

AWS_REGION=ap-south-1
DYNAMODB_REPORTS_TABLE=OutreachPilotReports
S3_REPORTS_BUCKET=outreachpilot-reports

OPENAI_API_KEY=your_openai_api_key_here

FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:8000